<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="center.css">
    </head>
    <body>
        <div class="href">
            <a href="index_img.html">image search</a>
            |
            <a href="index_advanced.html">advanced search</a>
        </div>
        <div>
            <img src="https://images.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="Google" class="center">
        </div>
        <div class="form">
            <form action="https://www.google.com/search">
                <input type="text" name="q">
                <input type="submit" value="Search">
            </form>
        </div>
    </body>
</html>
