.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.form {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.href {
    text-align: right;
}

img {
    padding-top: 50px;
}

.blue {
    background-color: #4285F4;
    color: white;
}

.blue:hover {
    background-color: #DB4437;
}